.image-datatable {
    width: 32px;
    height: 32px;
    border: 1px solid #aaaaaa;
}

.table-middle-align td {
    vertical-align: middle !important;
}

.search-field {
    margin-right: 5px; 
}

.filter-dropdown-field {
    margin-right: 5px; 
    width: 120px !important;
}

.reset-btn {
    margin-right: 15px;
}

#search-filter-container {
    margin-bottom: 10px;
}